server:
  port: 8081

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  logging:
  level:
    org.springframework.security: DEBUG
    
jwt:
  secret: qwqvNn/K1UT4YzgYgU4RUcRstZWmajATQuQq97joWMs=
  expirationMs: 3600000

management:
  endpoints:
    web:
      exposure:
        include: health  # Add others if needed, e.g., info, prometheus
  endpoint:
    health:
      show-details: always  # Optional

