server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie

      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: habit-service
          uri: http://localhost:8082
          predicates:
            - Path=/habits/**
          filters:
            - StripPrefix=1

jwt:
  secret: MY_SUPER_SECRET_KEY_12345

logging:
  level:
    org.springframework: DEBUG
